<div class="row">
  <div class="col-md-9">
    <% @articles.each do |article|%>
      <%= link_to article_path(article), class: "text-decoration-none text-dark" do %>
        <div class="mb-3">
          <div class="card-body">
            <div clas="text text-light">
              <%= article.created_at.strftime("%b %d, %y") %>
            </div>
            <div class="card-title h4">
              <h4><%= article.title %></h4>
            </div>
            <%= truncate(strip_tags(article.content.to_s), length: 100 )%>
          </div>
        </div><hr>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-3">
  <h4>Categories</h4>
<ul>
<% @categories.each do |cat|%>
  <%= link_to category_path(cat) do %>
    <li><%= cat.category %></li>
  <% end %>
<% end %>
</ul>
    
